<section class="faq faq-1">
  <div class="container">
    <div class="col-md-6">
      <form name="loginForm" ng-submit="logIn()">
        <div class="form-group col-lg-6">
          <label for="email">Email:</label>
          <input class="form-control" name="email" type="email" ng-model="user.email" id="email" placeholder="e.g johndoe@gmail.com" required>
          <div class="help-block text-danger" ng-if="loginForm.email.$dirty" ng-messages="loginForm.email.$error">
            <div ng-message="required" class="has-error">Email is required.</div>
          </div>
        </div>

        <div class="form-group col-lg-6">
          <label for="password">Password:</label>
          <input class="form-control" name="password" type="password" ng-model="user.password" value="" id="password" placeholder="e.g mypassword" required>
          <div class="help-block text-danger" ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error">
            <div ng-message="required" class="has-error">Password is required.</div>
          </div>
        </div>

        <div class="form-group col-lg-12">
            <div class="form-group">
              <button class="form-control btn btn-block" type="submit" ng-disabled="loginForm.$invalid">Sign in</button>
            </div>

            <div class="form-group col-lg-6">
              <a href="/reset-password" class="form-control btn btn-block">Reset Password</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
      <h3 class="dark-grey">Sign up now for <strong>FREE</strong></h3>
      <ul class="list-unstyled" style="line-height: 2">
        <li><span class="fa fa-check text-success"></span> Place yourself on the map</li>
        <li><span class="fa fa-check text-success"></span> Get to Share Interesting Projects with other developers</li>
        <li><span class="fa fa-check text-success"></span> Get to Share Tutorials</li>
        <li><span class="fa fa-check text-success"></span> Get to Know mean developers around you</li>
        <li><span class="fa fa-check text-success"></span> Get Connected</li>
        <li><span class="fa fa-check text-success"></span> Get Hired Today</li>
        <li><span class="fa fa-check text-success"></span> Become an Alien and reside on the Mean Planet</li>
        <li><span class="fa fa-check text-success"></span> Be a part of the community</li>

        <li><a href="/page/about"><u>Read more</u></a></li>
      </ul>
    </div>
  </div>
</section>
<section class="social social-1 near-footer">
  <div class="container">
    <div class="row">
      <div class="leader col-sm-12 text-center">
        <span>"A Framework/Technology is only as good as it's community"</span>
        <h5 class='lead-author'>- Prosper Otemuyiwa</h5>
      </div>
    </div>
  </div>
</section>