 <section class="faq faq-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="faq">
                      <h5>What is Meanmap.com about?</h5>
                      <p>
                        Meanmap.com is an interactive map for artisans all over the world. Mean Stack has become one of the biggest communities of fans, contributors and backers worldwide.
                      </p>
                    </div>

                    <div class="faq">
                      <h5>Why was Meanmap.com made?</h5>
                      <p>
                        Meanmap.com was made because since the release of Meanmap, there wasn´t any website for mapping mean stack developers, collecting resources and creating tutorials by users outside their blog / websites they own. So it was clear for me to create such a service. It was heavily inspired by
                        <a href="http://laramap.com">laramap.com</a>
                      </p>
                    </div>

                    <div class="faq">
                      <h5>How can i contribute to tutorials or resources?</h5>
                      <p>
                        Simply by signing up. All other procedures are clear described on the website.</p>
                    </div>
                </div>

                <div class="col-sm-6">
                  <div class="faq">
                    <h5>Can i support this project?</h5>
                    <p>Yes - you can! Serving this website does cost money. It´s built on services that are not free. If you wan´t to support Laramap.com you can simply drop me a line on the contactform or subscribe to a <a href="/sponsor">"Sponsoring-Plan"</a>. Becoming a partner is also possible.</p>
                  </div>

                  <div class="faq">
                    <h5>Which tools and services are used in Meanmap.com?</h5>
                    <p>Basically it´s built on the Mean Stack &amp; Bootstrap. But there´s a bunch of services used for email, pushing events, payments and other sections.</p>
                    <li>Definitely Nodejs</li>
                    <li>Angularjs</li>
                    <li>Expressjs</li>
                    <li>MongoDB</li>
                    <li>Bootstrap</li>
                    <li>Google Maps</li>
                    <li>Pusher</li>
                    <li>Stripe</li>
                    <li>Gravatar</li>
                    <li>dploy.io</li>
                  </div>
                </div>

            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <h4>Still have questions? Tweet <a target="_blank" href="https://twitter.com/meanmap">@meanmap</a> for answers</h4>
              </div>
            </div>
        </div>
</section>
