 <section class="faq faq-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="faq">
                      <h5>Definition Of Meanmap.com</h5>
                      <p>
                        Meanmap.com is an online directory for Mean Stack Developers all over the world. Mean Stack has become one of the foremost stack in app development worldwide. This site serves as a hub for Mean Stack Developers to work, share and get more connected than ever.
                      </p>
                    </div>

                    <div class="faq">
                      <h5>Meanmap.com's Purpose</h5>
                      <p>
                        Meanmap.com was made because there wasn't any sophisticated website for housing Mean Stack beginners, intermediate and advanced Developers. No dedicated platform for bringing mean stack developers from all over the World to Collaborate on Open Source Projects together.
                      </p>
                    </div>
                </div>

                <div class="col-sm-6">

                  <div class="faq">
                    <h5>Tools and services Employed in Building Meanmap.com</h5>
                    <p>Basically it's built on the Mean Stack &amp; Angular-Bootstrap.</p>
                    <li>Definitely Nodejs</li>
                    <li>Angularjs</li>
                    <li>Expressjs</li>
                    <li>MongoDB</li>
                    <li>Bootstrap</li>
                    <li>Google Maps</li>
                    <li>Leaflet</li>
                    <li>Momentjs</li>
                    <li>Gravatar</li>
                    <li>Heroku</li>
                    <li>Github</li>
                  </div>
                </div>

            </div>
        </div>
</section>
<section class="social social-1 near-footer">
      <div class="container">
          <div class="row">
            <div class="leader col-sm-12 text-center">
                <span>"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live"</span>
              <h5 class='lead-author'>- Martin Golding </h5>
            </div>
          </div>
      </div>
</section>
