<section class="header header-12">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-white">
        <h4 class="text-white">PROSPER OTEMUYIWA</h4>
        <ul>
          <li><i class="fa fa-clock-o"></i> Member since Monday 8th of June 2015</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="faq faq-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="faq">
          <img class="img-rounded" alt="PROSPER OTEMUYIWA" src="//www.gravatar.com/avatar/1097492785caf9ffeebffeb624202d8f?s=150">
        </div>

        <div class="faq">
          <h5>
            PROSPER OTEMUYIWA elsewhere:
          </h5>
          <ul>
            <li><a href="https://github.com/busayo"><i class="fa fa-github"></i> GitHub</a></li>
            <li><a href="http://prosperotemuyiwa.com"><i class="fa fa-globe"></i> Website / Blog</a></li>
            <li><a href="https://twitter.com/unicodeveloper"><i class="fa fa-twitter"></i> Twitter</a></li>
          </ul>
          <br/>
          <ul>
            <br/>
          </ul>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="faq">
          <h5>Biography</h5>
            <p>Creator of Laranaija ( http://laranaija.com ) and Learner Codes ( http://learner.codes ).
Food Lover, Romantic Developer,  Open Source Advocate, Developer Evangelist, Rockstar Trainer. </p>
        </div>
      </div>
    </div>
  </div>
</section>
