<section class="contact contact-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Get In Touch</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <form method="POST" action="http://laramap.com/contact" accept-charset="UTF-8"><input name="_token" type="hidden" value="PAV5ZcJNy7eViA9Sbn21EEspqz5axlhXHG6O8u52">
            <!-- Name Form Input -->
            <div class="form-group">
                <input class="form-control" name="name" type="text" placeholder="Name...e.g Toni Oladosu">
                <input class="form-control" name="email" type="text" placeholder="Email...e.g toni@gmail.com">
            </div>

            <!-- Message Form Input -->
            <div class="form-group">
                <textarea class="form-control" name="message" cols="50" rows="10"></textarea>
            </div>
                                            <!-- Submit Enquiry » Form Input -->
            <div class="form-group">
                <input class="form-control" type="submit" value="Submit Enquiry &raquo;">
            </div>

            <p class="sub">
                * We don’t share your personal info with anyone. Check out our <a href="http://laramap.com/page/imprint"> Privacy Policy</a> for more information.
            </p>
          </form>
        </div>
      </div>
    </div>
</section>

<section class="social social-2">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h6 class="text-white">Follow <a href="https://twitter.com/meanmap">@meanmap</a> for updates</h6>
        </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <div class="twitter-feed">
          <div class="tweets-feed tweets-slider" data-widget-id="605359516721524736">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>