 <section class="features features-6">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
            <h4>MEAN STACK DEVELOPERS ON THE PLANET</h4>
        </div>
      </div>

      <div class="row" ng-controller="DeveloperController">
        <br>
          <div class="span10 team-profile" ng-repeat="dev in allUsers">
            <div style='text-align:center;'>
              <a href="/mean-developers/{{ dev.username }}">
                <img src="{{ dev.user_avatar }}" alt="{{dev.fullname}}" width="150" height="150">
              </a>
            </div>
            <div class="profile-name grid3">{{ dev.username }}</div>
            <ul class="profile-social-icons">
              <li><a href="{{dev.twitter_handle || '#'}}"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="{{dev.github_profile || '#'}}"><i class="fa fa-github-square">
              </i></a></li>
            </ul>
          </div>
      </div>
</section>