  <div class="MeanMap" ng-controller="MapController">
    <div style="border:1px solid black;">
     <leaflet id="MeanMap" center="center" markers="markers" defaults="defaults" layers="layers" height="450px" width="1500px"></leaflet>
    </div>
  </div>

  <section class="features features-13">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                  <h4 class="text-white">Mean Stack Developers Are Everywhere<br></h4>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-4 feature">
                  <i class="fa fa-users"></i>
                  <h5 class="text-white">Driven by the community</h5>
                  <p>Every user is able to contribute his own content and share it with other Mean Stack developers around the world.</p>
              </div>

              <div class="col-sm-4 feature">
                  <i class="fa fa-leanpub"></i>
                  <h5 class="text-white">Become a tutor</h5>
                  <p>Create tutorials for Mean Stack and let others learn from your code.</p>
              </div>

              <div class="col-sm-4 feature">
                  <i class="fa fa-comments-o"></i>
                  <h5 class="text-white">Get feedback for your work</h5>
                  <p>Feel free to share your projects built on Mean and grab feedback.</p>
              </div>

          </div>
      </div>
  </section>

  <section class="cta cta-6">
      <div class="container">
          <div class="row v-align-children">
              <div class="col-md-8 col-sm-7" ng-controller="MapController">
                  <h3>{{ noOfUsers }} Mean Developers are on the Planet..</h3>
                  <p>Feel free to join the community.. It´s <strong>free</strong>!</p>
              </div>

              <div class="col-md-4 col-sm-5 text-right" ng-controller="AuthController">
                  <a class="btn" href="page/about">More Info</a>
                  <a class="btn btn-filled" href="user/create" ng-hide="isLoggedIn()">Join Now</a>
              </div>
          </div>
      </div>
  </section>

  <section class="social social-1 bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                <h4>Follow <a href="https://twitter.com/meanmapdotcom">@meanmapdotcom</a> for updates</h4>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                  <div class="twitter-feed">
                      <div class="tweets-feed" data-widget-id="605359516721524736"></div>
                  </div>
              </div>
          </div>
      </div>
  </section>