  <div class="MeanMap" ng-controller="MapController">
    <div style="border:1px solid #ccc;box-shadow:10px 10px #000;">
     <leaflet id="MeanMap" center="center" markers="markers" defaults="defaults" layers="layers" height="450px" width="1500px"></leaflet>
    </div>
  </div>

  <section class="features features-13">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                  <h4 class="text-white">Mean Stack Developers Dominating the Earth<br></h4>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-4 feature">
                  <i class="fa fa-meanpath"></i>
                  <h5 class="text-white">Built With The Mean Stack</h5>
                  <p>Proudly Built With The Mean Stack. Javascript from Front-End To Back-end.The Mean Stack community is building up.</p>
              </div>

              <div class="col-sm-4 feature">
                  <i class="fa fa-user-secret"></i>
                  <h5 class="text-white">Developer Publicity</h5>
                  <p>Meet Other Mean Stack Developers like You. Brew Top notch Code and Drink Beer Together. Get Connected and Hired. </p>
              </div>

              <div class="col-sm-4 feature">
                  <i class="fa fa-laptop"></i>
                  <h5 class="text-white">Hack, Sweat and Share</h5>
                  <p>Be proud of the applications you've hacked with the Mean Stack, Showcase and share with the Community.</p>
              </div>

          </div>
      </div>
  </section>

  <section class="cta cta-6">
      <div class="container">
          <div class="row v-align-children">
              <div class="col-md-8 col-sm-7" ng-controller="MapController">
                  <h3>{{ noOfUsers }} Mean Developers are on the Planet..</h3>
                  <p>...The Manifestation Of Mean Stack Developers. <strong>MEAN CHAP 2:9 </strong></p>
              </div>

              <div class="col-md-4 col-sm-5 text-right" ng-controller="AuthController">
                  <a class="btn" href="page/about">More Info</a>
                  <a class="btn btn-filled" href="user/create" ng-hide="isLoggedIn()">Join Now</a>
              </div>
          </div>
      </div>
  </section>

  <section class="social social-1 near-footer">
      <div class="container">
          <div class="row">
            <div class="leader col-sm-12 text-center">
                <span>
                 <i class="fa fa-quote-left"></i>
                  Any fool can write code that a computer can understand. <br class="visible-desktop" /> Good programmers write code that humans can understand.
                 <i class="fa fa-quote-right"></i>
                </span>
              <h5 class='lead-author'>- Martin Fowler</h5>
            </div>
          </div>
      </div>
  </section>