<section class="pricing pricing-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Become a Sponsor..Coming Soon</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 text-center pricing-option">
        <h6>GREEN LANTERN</h6>
        <div class="price-container">
          <span class="dollar">$</span>
          <span class="price">5</span>
          <span class="terms">/year</span>
        </div>
        <ul>
          <li>Get a Sponsor Badge in your profile</li>
          <li>Get listed on the <a href="#">Sponsors page</a></li>
          <li>Feel loved <i class="fa fa-heart"></i></li>
        </ul>

        <br/>
        <form method="POST" action="#" accept-charset="UTF-8"><input name="_token" type="hidden" value="PAV5ZcJNy7eViA9Sbn21EEspqz5axlhXHG6O8u52">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_live_7YsjNX3ryc0Q4ikEZw6zOhRZ"
                data-amount="500"
                data-name="Artisan"
                data-description="Yearly subscription ($5.00)"
                data-image="/img/Logo_1000x1000.png">
        </script>
        </form>
      </div>

      <div class="col-sm-4 text-center pricing-option active">
          <h6>TRAVIS</h6>
          <div class="price-container">
            <span class="dollar">$</span>
            <span class="price">10</span>
            <span class="terms">/year</span>
          </div>
          <ul>
            <li>Get a Sponsor Badge in your profile</li>
            <li>Get listed on the <a href="#">Sponsors page</a></li>
            <li>Get mentioned in on twitter</li>
            <li>Feel loved <i class="fa fa-heart"></i></li>
          </ul>

          <br/>
          <form method="POST" action="#" accept-charset="UTF-8"><input name="_token" type="hidden" value="PAV5ZcJNy7eViA9Sbn21EEspqz5axlhXHG6O8u52">
          <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_live_7YsjNX3ryc0Q4ikEZw6zOhRZ"
                  data-amount="1000"
                  data-name="Fan"
                  data-description="Yearly subscription ($10.00)"
                  data-image="/img/Logo_1000x1000.png">
          </script>
          </form>
      </div>

      <div class="col-sm-4 text-center pricing-option">
          <h6>SUPERMAN</h6>
          <div class="price-container">
            <span class="dollar">$</span>
            <span class="price">30</span>
            <span class="terms">/year</span>
          </div>
          <ul>
            <li>Get a Sponsor Badge in your profile</li>
            <li>Get listed on the <a href="#">Sponsors page</a></li>
            <li>Get mentioned in the newsletter and twitter</li>
            <li>Feel loved <i class="fa fa-heart"></i></li>
          </ul>

          <br/>
          <form method="POST" action="#" accept-charset="UTF-8"><input name="_token" type="hidden" value="PAV5ZcJNy7eViA9Sbn21EEspqz5axlhXHG6O8u52">
              <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_live_7YsjNX3ryc0Q4ikEZw6zOhRZ"
                  data-amount="5000"
                  data-name="Lover"
                  data-description="Yearly subscription ($50.00)"
                  data-image="/img/Logo_1000x1000.png">
              </script>
          </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <p>Want to pay more? <a href="/page/contact">Get in touch</a>. There´s also a way to support Meanmap.com with PayPal! Ask for it..</p>
      </div>
    </div>

    <div class="row">
        <br/> <hr/> <br/>
        <div class="col-sm-12 text-center">
            <h4>Our lovely Sponsors</h4>
        </div>
    </div>

    <br/>

    <div id="sponsors" class="row">
      <div class="col-md-1 col-sm-6 text-center feature">
        <a href="/mean-developer/alex">
        <img class="img-rounded" alt="Alex Obogbare" style="max-height: 60px; max-width: 60px; min-height: 60px; min-width: 60px;" src="https://avatars1.githubusercontent.com/u/2657252?v=3&s=400">
        </a>
      </div>


      <div class="col-md-1 col-sm-6 text-center feature">
        <a href="/mean-developer/seyi">
          <img class="img-rounded" alt="seyi" style="max-height: 60px; max-width: 60px; min-height: 60px; min-width: 60px;" src="https://avatars1.githubusercontent.com/u/11836408?v=3&s=400">
        </a>
      </div>

      <div class="col-md-1 col-sm-6 text-center feature">
        <a href="/mean-developer/babatunde">
        <img class="img-rounded" alt="babatunde" style="max-height: 60px; max-width: 60px; min-height: 60px; min-width: 60px;" src="https://avatars1.githubusercontent.com/u/11830685?v=3&s=400">
        </a>
      </div>
    </div>
  </div>
</section>
