<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>MEAN STACK TUTORIALS ON THE PLANET</h4>
      </div>
    </div>

    <div class="row" ng-controller="TutsController">
      <div class="col-md-12" style="margin:20px;padding:5px;">
        <div>
          <h4><i class="fa fa-file-code-o"></i> {{ tutorialDetails.title }}</h4>
          <p marked="tutorialDetails.content" style="margin-top:10px;"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="social social-1 near-footer">
  <div class="container">
    <div class="row">
      <div class="leader col-sm-12 text-center">
        <span>"Learn By Doing. Learn More By Teaching"</span>
        <h5 class='lead-author'>- Prosper Otemuyiwa</h5>
      </div>
    </div>
  </div>
</section>