<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>MEAN STACK TUTORIALS ON THE PLANET</h4>
      </div>
    </div>

    <div class="row" ng-controller="TutsController">
      <div class="col-md-12" style="margin:20px;padding:5px;">
        <div style="margin-bottom:20px;">
          <h4><i class="fa fa-file-code-o"></i> {{ tutorialDetails.title }}</h4>
          <p marked="tutorialDetails.content" style="margin-top:10px;"></p>
        </div>

        <!-- Comments By Users For Tutorials -->
        <dir-disqus disqus-shortname="meanmap" disqus-identifier="{{ tutorialDetails.id }}"
            disqus-title="{{ tutorialDetails.title }}"
            disqus-url="{{ tutorialDetails.slug }}">
        </dir-disqus>
      </div>
    </div>
  </div>
</section>
<section class="social social-1 near-footer">
  <div class="container">
    <div class="row">
      <div class="leader col-sm-12 text-center">
        <span>"Learn By Doing. Learn More By Teaching"</span>
        <h5 class='lead-author'>- Prosper Otemuyiwa</h5>
      </div>
    </div>
  </div>
</section>